PORT=8000
APP_NAME=HotelPro

MONGO_URI=mongodb://yourhost:db_name
JWT_ACCESS_SECRET=your-jwt-access-secret
JWT_REFRESH_SECRET=your-jwt-refresh-secret

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=yourgmail@gmail.com
EMAIL_PASSWORD=your-16-character-app-password
EMAIL_FROM=HotelPro <yourgmail@gmail.com>

RECAPTCHA_URL=google_recaptcha_url
RECAPTCHA_SECRET_KEY=your-recaptcha-secret-key

-------------